/* Toolbar */
.black-toolbar {
    background-color: #716b6b;
    position: relative;
}

.black-toolbar::before,
.black-toolbar::after {
    content: "";
    position: absolute;
    top: 0;
    width: 50%;
    height: 100%;
    background-color: inherit;
    z-index: -1;
}

.black-toolbar::before {
    left: 0;
    border-radius: 10px 0 0 10px;
}

.black-toolbar::after {
    right: 0;
    border-radius: 0 10px 10px 0;
}

.logo {
    height: 50px;
    margin-right: 20px;
    z-index: 9999;
}

.button-anim {
    transition: transform 0.3s;
}

.button-anim:hover {
    transform: translateY(-3px);
}

.mat-menu-panel {
    background-color: #424242;
}

.mat-menu-item:hover {
    background-color: #757575;
}

.mat-menu-trigger:hover {
    cursor: pointer;
}


.button-anim span {
    position: relative;
    z-index: 1;
}

/* About Us */
.about-us-container {
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url('../../assets/aboutus.jpg');
    background-size: cover;
    background-position: center;
    height: 93.5vh;
}


.about-us-card {
    max-width: 600px;
    width: 100%;
    border-radius: 8px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    transform: translateY(-80%);

}

.about-us-card-header {
    display: flex;
    align-items: center;
    padding: 20px;
    background-color: #0c0c0c;
}

.about-us-card-header-icon {
    font-size: 40px;
    color: #fff;
}

.about-us-card-header-title {
    font-size: 24px;
    font-weight: 600;
    color: #fff;
    margin-left: 10px;
}

.about-us-card-content {
    padding: 20px;
    font-size: 16px;
    line-height: 1.5;
    color: #333;
}

.about-us-card-actions {
    display: flex;
    justify-content: center;
    padding: 20px;
}

.about-us-card-actions-button {
    background-color: #131212;
    color: #fff;
    font-weight: 600;
    border-radius: 4px;
    padding: 12px 24px;
    text-transform: uppercase;
    letter-spacing: 1px;
    transition: background-color 0.2s ease;
}

.about-us-card-actions-button:hover {
    background-color: #1a1a1b;
    color: white;
}

/* Google Map */

.map-container {
    position: relative;
}

.map-container iframe {
    position: absolute;
    transform: translateX(-100%);
    border: 2px solid black;
    border-radius: 15px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}