<mat-toolbar color="primary" class="black-toolbar">
  <div style="display: flex; align-items: center">
    <button mat-button routerLink="/" class="button-anim">
      <img
        src="../../assets/premier-league.svg"
        alt="Logo"
        style="height: 50px; margin-right: 20px"
      />
    </button>
    <div style="flex: 1">
      <button
        mat-button
        [matMenuTriggerFor]="dashboardMenu"
        matMenuTriggerHover
        class="button-anim"
      >
        Dashboard <mat-icon matSuffix>arrow_drop_down</mat-icon>
      </button>
      <mat-menu #dashboardMenu="matMenu">
        <button mat-menu-item routerLink="/fixtures">Fixtures</button>
        <button mat-menu-item routerLink="/players">Players</button>
        <button mat-menu-item routerLink="/clubs">Clubs</button>
      </mat-menu>
      <button mat-button routerLink="/account" class="button-anim">
        Account
      </button>
      <button mat-button routerLink="/contact" class="button-anim">
        Contact
      </button>
      <button mat-button routerLink="/about" class="button-anim">
        About Us
      </button>
    </div>
  </div>
</mat-toolbar>
<!-- About Us -->
<div class="background-container">
  <div class="aboutus-container">
    <mat-card class="aboutus-card">
      <h2>About Us</h2>
      <p>
        This application was developed to provide analysts with access to the
        most current data across all Premier League fixtures using
        Transfermarkt.com API. It offers latest information on the squad members
        of all Premier League clubs, as well as serves as a management system
        for player statistics.
      </p>
    </mat-card>
  </div>
  <!-- Google Map -->
  <div class="map-container mat-elevation-z4">
    <mat-card class="map-card">
      <iframe
        [src]="mapsUrl"
        width="700"
        height="550"
        style="border: 0"
        loading="lazy"
        allowfullscreen
      ></iframe>
    </mat-card>
  </div>
</div>
