/* Toolbar */
.black-toolbar {
    background-color: #716b6b;
    position: relative;
}

.black-toolbar::before,
.black-toolbar::after {
    content: "";
    position: absolute;
    top: 0;
    width: 50%;
    height: 100%;
    background-color: inherit;
    z-index: -1;
}

.black-toolbar::before {
    left: 0;
    border-radius: 10px 0 0 10px;
}

.black-toolbar::after {
    right: 0;
    border-radius: 0 10px 10px 0;
}

.logo {
    height: 50px;
    margin-right: 20px;
    z-index: 9999;
}

.button-anim {
    transition: transform 0.3s;
}

.button-anim:hover {
    transform: translateY(-3px);
}

.mat-menu-panel {
    background-color: #424242;
}

.mat-menu-item:hover {
    background-color: #757575;
}

.mat-menu-trigger:hover {
    cursor: pointer;
}


.button-anim span {
    position: relative;
    z-index: 1;
}

/* About Us */
.background-container {
    position: relative;
    background-image: url('../../assets/aboutus.jpg');
    background-size: cover;
    background-position: center;
    height: 93.5vh;
}

/* Google Map */
.map-container {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 30px;
    max-width: 600px;
    margin: auto;
    opacity: 0.95;
}

.aboutus-container {
    position: relative;
    align-items: center;
    display: flex;
    padding: 30px;
    max-width: 600px;
    margin: auto;
    opacity: 0.90;
}

.aboutus-card {
    font-family: 'Segoe UI', sans-serif;
    text-align: center;
    line-height: 1.5;
    padding: 10px;
}

.aboutus-card:hover {
    opacity: 1;
    transform: scale(1.05);
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.2);
}