<mat-toolbar color="primary" class="black-toolbar">
  <div style="display: flex; align-items: center;">
    <button mat-button routerLink="/" class="button-anim">
    <img src="../../assets/premier-league.svg" alt="Logo" style="height: 50px; margin-right: 20px;">
  </button>
    <div style="flex: 1;">
      <button mat-button [matMenuTriggerFor]="dashboardMenu" matMenuTriggerHover class="button-anim">Dashboard <mat-icon matSuffix>arrow_drop_down</mat-icon></button>
      <mat-menu #dashboardMenu="matMenu">
        <button mat-menu-item routerLink="/analytics">Analytics</button>
        <button mat-menu-item routerLink="/matches">Matches</button>
        <button mat-menu-item routerLink="/players">Players</button>
        <button mat-menu-item routerLink="/club">Clubs</button>
      </mat-menu>
      <button mat-button routerLink="/account" class="button-anim">Account</button>
      <button mat-button routerLink="/contact" class="button-anim">Contact</button>
      <button mat-button routerLink="/about" class="button-anim">About Us</button>
    </div>
  </div>
</mat-toolbar>

<mat-card class="custom-card mat-elevation-z2">
  <mat-card-content class="custom-content">
    <mat-card *ngIf="userData && !googleUserData" class="custom-card mat-elevation-z0">
      <mat-card-content class="custom-content">
        <img [src]="userData.avatar_url" alt="{{userData.login}}" class="avatar-image">
        <div class="user-info">
          <mat-card-title>Welcome, {{userData.login}}!</mat-card-title>
          <p>Your user ID is {{userData.id}}.</p>
          <p>Your profile URL is <a href="{{userData.html_url}}">{{userData.html_url}}</a>.</p>
          <div class="timestamp">{{currentDate | date:'medium'}}</div>
          <mat-card-actions>
            <button mat-raised-button color="warn" class="btn-logout" (click)="logout()" routerLink="/login">Logout</button>
          </mat-card-actions>
        </div>
      </mat-card-content>
    </mat-card>

    <mat-card *ngIf="googleUserData" class="custom-card mat-elevation-z0">
      <mat-card-content class="custom-content">
        <img [src]="googleUserData.picture" alt="{{googleUserData.picture}}" class="avatar-image">
        <div class="user-info">
          <mat-card-title>Welcome, {{googleUserData.name}}!</mat-card-title>
          <p>Your email address is {{googleUserData.email}}.</p>
          <div class="timestamp">{{currentDate | date:'medium'}}</div>
          <mat-card-actions>
            <button mat-raised-button color="warn" class="btn-logout" (click)="logout()" routerLink="/login">Logout</button>
          </mat-card-actions>
        </div>
      </mat-card-content>
    </mat-card>
  </mat-card-content>
</mat-card>
