/* Toolbar */
.black-toolbar {
  background-color: #716b6b;
  position: relative;
}

.black-toolbar::before,
.black-toolbar::after {
  content: "";
  position: absolute;
  top: 0;
  width: 50%;
  height: 100%;
  background-color: inherit;
  z-index: -1;
}

.black-toolbar::before {
  left: 0;
  border-radius: 10px 0 0 10px;
}

.black-toolbar::after {
  right: 0;
  border-radius: 0 10px 10px 0;
}

.logo {
  height: 50px;
  margin-right: 20px;
  z-index: 9999;
}

.button-anim {
  transition: transform 0.3s;
}

.button-anim:hover {
  transform: translateY(-3px);
}

.mat-menu-panel {
  background-color: #424242;
}

.mat-menu-item:hover {
  background-color: #757575;
}

.mat-menu-trigger:hover {
  cursor: pointer;
}


.button-anim span {
    position: relative;
    z-index: 1;
}
/* Social sign in box */
.custom-card {
  background-color: #f5f5f5;
  color: #090909;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  padding: 5px;
  border-radius: 5px;
  height: 40%;
  max-width: 500px;
  margin: 0 auto 0px auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.custom-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

  .custom-title {
    font-size: 28px;
    font-weight: bold;
    margin-bottom: 32px;
  }
  
  .custom-button {
    background-color: #3d4449;
    color: #ffffff;
    font-size: 16px;
    font-weight: bold;
    height: 50px;
    min-width: 180px;
    margin-top: 25px;
  }
  
  .custom-button mat-icon {
    margin-right: 5px;
  }
  