.black-toolbar {
    background-color: #716b6b;
    position: relative;
}

.black-toolbar::before,
.black-toolbar::after {
    content: "";
    position: absolute;
    top: 0;
    width: 50%;
    height: 100%;
    background-color: inherit;
    z-index: -1;
}

.black-toolbar::before {
    left: 0;
    border-radius: 10px 0 0 10px;
}

.black-toolbar::after {
    right: 0;
    border-radius: 0 10px 10px 0;
}

.logo {
    height: 50px;
    margin-right: 20px;
    z-index: 9999;
}

.button-anim {
    transition: transform 0.3s;
}

.button-anim:hover {
    transform: translateY(-3px);
}

.mat-menu-panel {
    background-color: #424242;
}

.mat-menu-item:hover {
    background-color: #757575;
}

.mat-menu-trigger:hover {
    cursor: pointer;
}

.image-container {
    position: relative;
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: #fff;
    background-color: rgba(0, 0, 0, 0.7);
    opacity: 0;
    transition: opacity 0.2s ease-in-out;
}

.overlay:hover {
    opacity: 1;
}

.button-slice {
    position: relative;
    overflow: hidden;
}

.button-slice:before {
    content: "";
    position: absolute;
    z-index: 1;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(19, 19, 19, 0.5);
    transform: translateX(-100%);
    transition: transform 0.4s ease-out;
}

.button-slice:hover:before {
    transform: translateX(0);
}

.button-slice span {
    position: relative;
    z-index: 2;
    display: block;
    padding: 12px 24px;
    color: #fff;
    background: #3f51b5;
    transition: background 0.4s ease-out;
}

.button-slice:hover span {
    background: #303f9f;
}